<div>
Aббревиатура RFM расшифровывается:

Recency — давность (как давно ваши пользователи что-то у вас покупали);
Frequency — частота (как часто они у вас покупают);
Monetary — деньги (общая сумма покупок).
По этим признакам можно разделить всех ваших клиентов на группы, понять, кто из клиентов покупает у вас часто и много, кто — часто, но мало, а кто вообще давно ничего не покупал.

С каждой группой можно строить отдельные коммуникации: давать им разную рекламу и делать разные email-рассылки. Например, группе постоянных VIP-клиентов высылать специальные предложения, 
а пользователям, которые давно не покупали — мотивирующую скидку, и настроить на них таргетированную рекламу.
</div>
