{{#if auth}}
<form action="/users/login" method="POST">
  <label>
    Email:
    <input type="text" name="email">
  </label>
  <label>
    Password:
    <input type="password" name="password">
  </label>
  <button type="submit">LogIn</button>
</form>
{{else}}
<form action="/users/reg" method="POST">
  <label>
    Email:
    <input type="text" name="email">
  </label>
  <label>
    Password:
    <input type="password" name="password">
  </label>
  <button type="submit">Register</button>
</form>
{{/if}}
{{!-- add firstName,lastName,email,password for registration --}}
{{!-- login through email. --}}