<div class="container-width">
    <h1>RFM analysis</h1>
    <div class="converter-container">
        <h2 >Convert here!</h2>
        <button type="button" class="converter-btn btn btn-primary btn-lg">Large button</button>
    </div>
</div>