<div class="container-register">
<form action="/auth/signin" method="POST">
  <label>
    Email:
    <input type="text" name="email">
  </label>
  <label>
    Password:
    <input type="password" name="password">
  </label>
  <button type="submit">LogIn</button>
</form>
</div>
