<div class="container-register">
<form action="/auth/signup" method="POST">
  <label>
    Email:
  </label><br>
    <input class="regicter-input" type="text" name="email" placeholder="Введите ваш email адрес"><br>
  <label>
    Password:
  </label><br>
    <input class="regicter-input" type="password" name="password" placeholder="Введите ваш пароль"> <br>
  <label>
    Имя:
  </label><br>
    <input class="regicter-input"  type="text" name="name" placeholder="Введите ваше имя"><br>
  <label>
    Фамилия:
  </label><br>
    <input class="regicter-input" type="text" name="surname" placeholder="Введите вашу фамилию"><br>
  <button class="regicter-button" type="submit">Register</button>
</form>
</div>